-r external/SAN/requirements.txt
git+https://github.com/facebookresearch/detectron2.git@v0.6
transformers
fastapi
uvicorn
replicate
opencv-python
sqlalchemy[asyncio]>=1.4
PyMySQL
aiomysql
openai
polars
rapidfuzz
requests[socks]
httpx[socks]
