fastapi
uvicorn
gunicorn
numpy<2
opencv-python-headless
torch
torchvision
transformers
sqlalchemy[asyncio]
PyMySQL
aiomysql
cryptography
openai
polars
rapidfuzz
requests[socks]
httpx[socks]
python-multipart
boto3
onnx
onnxruntime-openvino==1.17.1
