[submodule "external/mmengine"]
	path = external/mmengine
	url = git@github.com:V1adych/mmengine.git
[submodule "external/mmsegmentation"]
	path = external/mmsegmentation
	url = git@github.com:V1adych/mmsegmentation.git
